/* Cards */
.cards {
  display: grid;
  gap: 40px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  & h2 {
    background: var(--bg-grad1);
    padding-block: 24px;
    padding-bottom: 32px;
    padding-inline: 28px;
    border-radius: 10px;
    color: var(--cname-white);

    @media (min-width: 768px) {
      padding-top: 50px;
    }
  }
}

/* Card */
.card {
  position: relative;
  background-color: var(--cname-white);
  padding-block: 32px;
  padding-top: 56px;
  padding-inline: 28px;
  border-radius: 10px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.1);
    transform: translate(0, -5px);
  }

  & img {
    position: absolute;
    top: -24px;
    width: 56px;
  }

  & h3 {
  }

  & p {
    margin-top: 16px;
  }

  & a {
    display: inline-block;
    margin-top: 24px;
  }

  &:hover a {
    background-color: var(--cname-almost-white);
    padding-inline: 0.75em;
    padding-block: 0.5em;
    border-radius: 0.5em;
  }
}
