/* Footer */
.footer {
  margin-top: 80px;
  background-color: var(--cname-space-cadet);

  .container {
    display: flex;
    flex-direction: column;
  }

  & section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 36px;

    /* @media (min-width: 768px) {
      padding-inline: 40px;
    }

    @media (min-width: 1440px) {
      padding-inline: 165px;
    } */
  }

  & .copyright {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.1em;
  }
}
