/* Nameplate */
.nameplate {
  & p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.5em;
    font-size: 0.7rem;
    padding: 1em;
  }

  & a {
    color: var(--cname-french-rose);
    text-decoration-color: var(--cname-carnation-pink);

    &:hover {
      text-decoration-color: var(--cname-french-rose);
    }
  }
}
